<h1>Cocktails list</h1>

<%= link_to "Add a new cocktail", new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
<h2><%= cocktail.name %></h2>

<%= link_to 'details', cocktail_path(cocktail) %>
<%= link_to 'edit', edit_cocktail_path(cocktail) %>

<% end %>
