<div class='container'>

  <div class='banner'>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <h1>Bringing the world's best cocktails to you</h1>
      </div>
    </div>
  </div>

  <div class="title text-center">
    <h2>temptation</h2>
  </div>

  <div class="row content">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-lg-4">
        <%= link_to cocktail_path(cocktail) do%>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('background.jpg')%>');">
            <h2 class="card-title"><%= cocktail.name %></h2>
          </div>
        <%end %>
      </div>
    <% end %>
  </div>

  <div class='text-center btn-medium'>
    <%= link_to "Add a new cocktail", new_cocktail_path %>
  </div>

</div>
