/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  background-size: cover;
  height: 100vh;
  margin: 0px;
}

.banner h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 250px;
}
.title h2 {
  font-family: 'Archivo Black', sans-serif;
  padding: 20px;
}
.content {
  margin-left: 175px;
  margin-right: 175px;
}
